@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../../assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

body {
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: 'Pretendard Variable';
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  text-align: center;
}

.wifi-list {
  margin-bottom: 0.5rem;
}
